@model LibraryManagerPro.Models.ViewModels.LivroViewModel

@{
    ViewData["Title"] = "Adicionar Novo Livro";
}

<h1 class="mb-4">Adicionar Novo Livro</h1>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Titulo" class="form-label"></label>
        <input asp-for="Titulo" class="form-control" />
        <span asp-validation-for="Titulo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Descricao" class="form-label"></label>
        <textarea asp-for="Descricao" class="form-control" rows="3"></textarea>
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label asp-for="AnoPublicacao" class="form-label"></label>
            <input asp-for="AnoPublicacao" class="form-control" type="number" />
            <span asp-validation-for="AnoPublicacao" class="text-danger"></span>
        </div>
        <div class="col-md-6 mb-3">
            <label asp-for="Preco" class="form-label"></label>
            <input asp-for="Preco" class="form-control" type="number" step="0.01" />
            <span asp-validation-for="Preco" class="text-danger"></span>
        </div>
    </div>

    <div class="mb-3">
        <label asp-for="CapaUrl" class="form-label"></label>
        <input asp-for="CapaUrl" class="form-control" **required** />
        <span asp-validation-for="CapaUrl" class="text-danger"></span>
        @if (!string.IsNullOrEmpty(Model.CapaUrl))
        {
            <img src="@Model.CapaUrl" alt="Capa" class="img-thumbnail mt-2" style="max-height:150px;" />
        }
    </div>

    <div class="form-group">
        <label asp-for="AutoresSelecionados"></label>
        <select asp-for="AutoresSelecionados"
                        asp-items="Model.AutoresDisponiveis"
                        class="form-control"
                        multiple="multiple">
        </select>
        <span asp-validation-for="AutoresSelecionados" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-success">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}