@{
    ViewData["Title"] = "Página Inicial";
}

<h1>Bem-vindo à Library Manager Pro</h1>

<p>
    <a asp-controller="Autores" asp-action="Index" class="btn btn-primary">
        Ir para Autores
    </a>
</p>

<p>
    <a asp-controller="Livros" asp-action="Index" class="btn btn-success">
        Ir para Livros
    </a>
</p>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
