@page
@model Microsoft.AspNetCore.Mvc.RazorPages.PageModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<h1 class="text-danger">Acesso Negado</h1>
<p>Você não tem permissão para acessar esta página.</p>
